
#grad1 {
    height: 200px;
   /* background:url("https://images.pexels.com/photos/40815/youth-active-jump-happy-40815.jpeg");*/
  
    background:url("../images/logo-scarfcat-banner.png");
   background-repeat:no-repeat;
  
   background-color: #cccccc;
   
}